.modal-content {
    border: 0px;
    border-radius: 10px;
    overflow: hidden;
    background: $color-dark-3;
}
.alert_modal {
    position: relative;
    background: $color-dark-3;
    border-radius: 10px;
    border: 1px solid $color-primary !important;
    width: 100%;

    .close_btn {
        position: absolute;
        right: 1px;
        top: 2px;
    
        button {
            border: 0px;
            font-size: 35px;
            color: $color-primary;
            cursor: pointer;
            font-weight: 300;
            
            &:hover {
                background-color: $color-dark-3;
            }
        }
    }

    .content {
        color: $color-light;
        padding: 30px 50px 10px;
        p{
            font-size: 1.2rem;
            line-height: 1.8rem;
            text-align: center;
        }
    }
}