.tokenomics_box {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 15px 20px;
    margin: 10px 0px;
    text-align: center;

    &::before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        border: 1px solid $color-dark;
        width: 45px;
        height: 100%;
        border-right: 0px;
        transition: all .4s;
        border-radius: 5px;
    }

    &::after {
        position: absolute;
        content: '';
        top: 0;
        right:0;
        height: 100%;
        width: 45px;
        border: 1px solid $color-dark;
        transition: all .4s;
        border-left: 0px;
        border-radius: 5px;
    }


    &_active {
        position: relative;
        .name {
            color: $color-primary;
            font-weight: 700;
        }

        &::before{ 
            border: 2px solid $color-primary;
            border-right: 0px;
            transition: all .4s;
        }

        &::after {
            border: 2px solid $color-primary;
            border-left: 0px;
            transition: all .4s;
        }
    }

    .name {
        font-size: 1.1rem;
    }

    .value{
        font-weight: bold;
    }

}