// Upcoming Pool Banner Section

.upcoming-pool-banner {
  background: url("../assets/upcomming-bg.png") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.upcoming-pool-banner > div,
.upcoming-pool-banner > div > div {
  height: 100%;
}
.upcoming-pool-banner > div > div {
  align-items: center;
}
.right-section {
  width: 100%;
  height: auto;
  background: #2f3548;
  opacity: 0.9;
  box-shadow: inset 0px -10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.upper-right-section {
  padding: 10px 30px;
}
.left-section > img {
  width: 95px;
  height: 95px;
}
.left-section > h2 {
  font-weight: 600;
  font-size: 64px;
  color: #ffffff;
}
.left-section > p {
  font-weight: 300;
  font-size: 17px;
  margin: 25px 0px;
  color: #ffd366;
  width: 500px;
}
.left-section > div {
  display: flex;
  flex-direction: row;
}
.left-section > div > img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}
.upper-right-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.upper-right-section > span {
  background: #212534;
  border-radius: 20px;
  color: #ffd366;
  padding: 5px 10px;
  margin-top: 10px;
}
.upper-right-section > h3 {
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  margin-top: 10px;
}
.upper-right-section > p {
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
}
.lower-right-section {
  padding: 30px 30px;
  background: rgba(33, 37, 52, 0.25);
  border-radius: 0px 0px 10px 10px;
}
.lower-right-section > h5 {
  font-size: 12px;
  color: #ffffff;
  font-weight: 300;
}
.lower-right-section > h4 {
  font-size: 24px;
  color: #ffffff;
  font-size: 400;
}
.progress-bar-section {
  background: rgba(88, 85, 85, 0.2);
  border: 1px solid #383a41;
  box-sizing: border-box;
  border-radius: 5px;
  height: 37px;
}
.progress-bar-section > div {
  background: #ffd366;
  border-radius: 5px;
  color: #2f3548;
  font-size: 13px;
  font-weight: 500;
}
.lower-right-section > span {
  font-size: 11px;
  font-weight: 300;
  color: #ffffff;
  margin-top: 10px;
  display: flex;
  justify-content: right;
}
.connect-btn {
  color: #ffd366;
  margin-top: 30px;
  padding: 10px;
}
.incupad-pool-video {
  width: 100%;
  height: 500px;
}
.videoContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}
@media (max-width: 575.98px) {
  .upcoming-pool-banner {
    height: 140vh;
    padding: 0;
  }
  .upcoming-pool-banner > div > div {
    flex-direction: column;
    justify-content: center;
  }
  .upper-right-section {
    margin-top: 30px;
  }
  .left-section > img {
    width: 80px;
    height: 80px;
  }
  .left-section > h2 {
    font-size: 40px;
    margin-top: 10px;
  }
  .left-section > p {
    font-size: 12px;
    width: auto;
  }
  .left-section > div > img {
    width: 30px;
    height: 30px;
  }
  .upper-right-section > span {
    font-size: 12px;
  }
  .upper-right-section > h3,
  .lower-right-section > h4 {
    font-size: 16px;
  }
  .upper-right-section > p {
    font-size: 10px;
    letter-spacing: 0;
  }
  .progress-bar-section {
    height: 28px;
  }
  .lower-right-section > span {
    font-size: 11px;
  }
}

/* pool Information section */
.pool-information-section {
  background: url("../assets/pool-pat.png"),
    linear-gradient(180deg, #383a41 0%, #020214 100%), #ffffff;
  background-repeat: no-repeat;
  background-position: right bottom;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 80px 0;
}
.pool-information-card {
  width: 100%;
  height: auto;
  background: #383a41;
  box-shadow: inset 0px -10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 20px 0;
}
.pool-information-section h2 {
  color: #fff;
  font-size: 30px;
}
.pool-information-card {
  padding: 40px;
}
.pool-information-card > div {
  font-size: 14px;
  color: #ffffff;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
.pool-information-card > div > span:last-child {
  font-weight: 400;
}
.about-section {
  color: #ffffff;
  padding: 30px 0;
  margin-bottom: 100px;
}
.about-section > h2 {
  font-size: 30px;
  margin: 17px 0px;
}
.about-section p {
  font-size: 15px;
  margin: 17px 0px;
  font-weight: 300;
}
.custom-dropdown-btn > button {
  color: #ffd366 !important;
  background-color: transparent !important;
}
.custom-dropdown-btn > button:active,
.custom-dropdown-btn > button:hover,
.custom-dropdown-btn > button:focus {
  background-color: #ffd46617 !important;
}
.custom-dropdown-btn > button::after {
  display: none;
}
.custom-dropdown-btn .dropdown-menu {
  background-color: #36373e;
}
.custom-dropdown-btn .dropdown-singleItem {
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  color: #fff;
}
.custom-dropdown-btn .dropdown-singleItem span {
  margin-left: 10px;
}
@media (max-width: 575.98px) {
  .pool-information-card > div {
    font-size: 12px;
  }
  .about-section p {
    font-size: 12px;
  }
  .pool-information-section h2,
  .about-section > h2 {
    font-size: 27px;
  }
}
