/* input invest */

.incupad_banners{
    background: url("../../assets/upcomming-bg.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;

    .container, .row {
      height: 100%;
    }
  .left_section {
    h2 {
      font-weight: 600;
      font-size: 64px;
      color: #ffffff;
    }
    p{
      font-weight: 300;
      font-size: 17px;
      margin: 25px 0px;
      color: $color-primary;
      width: 500px;
    }
  }

  .new_right {
   
    .text{
        font-size: 0.75rem;
    }
    .value{
      color: $color-primary;
      font-size: 1.1rem;
      span{
        display: block;
      }
    }
    .wallet_whitelist {
      span{
        font-size: 0.85rem;
      }
    }
  }
}


.bars {
    background: $color-dark;
    padding: 12px 20px;
    margin: 6px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-radius: 8px;
   
}

.timer_content{
  display: flex;
  align-items: center;
  color: white; 
  span {
    margin-right: 3px;
  }
}

.closed {
  font-weight: bold;
  color: white;
}

.invest__wrapper {
    position: relative;

    input {
      position: relative;
      margin-right: 10px;
      width: 80%;
      background: transparent;
      color: white;
      padding: 10px 20px;
      border: none;
      outline: none;
    }

    @include respond('phone') {
         width: 90%;
         margin: 10px auto;
    
        .invest_input {
            width: 75% !important;
         }
      }
  }

.invest_input {
    position: relative;
    z-index: 100;
    border: 1px solid #ffd366;
    border-radius: 10px;
    margin-right: 15px;
    width: 45%;
  }
  
  .invest_max {
    content: '';
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    color: white;
  }
  
  .popwallet {
    cursor: pointer;
    transition: 0.1s ease-in;
    &:hover {
      transform: scale(1.024);
    }
  }

