.input {
    margin-right: 10px;
    border-radius: 10px;
    background: transparent;
    color: white;
    border: 1px solid #ffd366;
    padding: 10px 15px;
}

label {
 font-size: 16px;
 line-height: 1.5;           
}