* {
    margin:0px;
    padding: 0px;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background: $color-background;
    width: 100%;
    color: $color-light;
}

a:focus,
button:focus,
.btn:focus,
.form-select:focus,
input {
  box-shadow: unset !important;
  outline: 0 !important;
}

h1, h2 {
  margin: 0px ;
}

.fw-100{
  font-weight: 100 !important;
}

.nav {
  align-items: center;
}