* {
    margin:0px;
    padding: 0px;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    width: 100%;
}

a:focus,
button:focus,
.btn:focus,
.form-select:focus,
input {
  box-shadow: unset !important;
  outline: 0 !important;
}

h1, h2 {
  margin: 0px ;
}

.flexBetween, .flexCenter, .flexAround {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexCenter {
  justify-content: center;
}

.flexAround {
  justify-content: space-around;
}

.fw-100{
  font-weight: 100 !important;
}

.pointer {
  cursor: pointer;
}
.tooltips {
  display: inline-block;

  .btn-tooltip {
    width: 5px;
    height: 5px;
    border-radius:10px;
    padding: 8px;
    background: black;
    color: $color-primary;
    font-size: 12px;
    font-weight: bolder;
  }
}


.bg-b-1 {
  background-image: url(../../assets/bg-4.png) !important;
}

.bg_white {
  background: url(../../assets/bg-4.png) !important;
}

.social_icons {
  cursor: pointer;
  img {
    width: 32px;
    height: 32px;
    margin-left: 10px;
  }
}

.input-primary {
  border: 1px solid $color-primary;
  border-radius: 3px;
  outline: none;
  background: transparent;
  width: 100%;
  padding: 10px;
  color: $color-primary;
}



.highcharts-background {
  fill: transparent !important;
}
ul {
  list-style: none;
}

.navs {
  display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.show_mobile {
  display: none;
}

.popwallet {
  cursor: pointer;
  transition: 0.1s ease-in;
  &:hover {
    transform: scale(1.024);
  }
}

.timer_upcoming {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.card-time-status-1 {
  font-size: 1rem;
}

.relative {
  position: relative;
}

.arrow_containter {
  flex-direction: column;
  margin-top: 15px;
  content: '';
  position: absolute;
  bottom: 0px; 
  p{
    font-size: 0.9rem;
    line-height: 1.1rem;
    margin:0px;
  }
}

.arrow_down {
  margin-top:8px;
  border-color:transparent;
  border-style:solid;
  border-width:1em;
  display:block;
  height:0;
  opacity:0.4;
  text-indent:-9999px;
  transform-origin: 50% 50%;
  width: 0;
  animation: downarrow 0.6s infinite alternate ease-in-out;
  -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
  border-top:1em solid $color-primary;
  cursor: pointer;
}

.owl-carousel.owl-hidden {
  opacity: 1 !important;
}

.progress_bar{
  margin-top: 5px;
  width: 100%;
  height: 35px;
  background: $color-dark-1;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px #181818;
}

.progress_bar > div {
  background: $color-primary;
  border-radius: 5px;
  color: rgb(29, 28, 28);
  font-size: 12px;
  font-weight: 500;
}

.owl-stage{
  display: flex !important;
}

.owl-item {
  height: inherit !important;
}
.owl-item >div{
  height: 100%;
}