* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  box-sizing: border-box; }

body {
  width: 100%; }

a:focus,
button:focus,
.btn:focus,
.form-select:focus,
input {
  box-shadow: unset !important;
  outline: 0 !important; }

h1, h2 {
  margin: 0px; }

.fw-100 {
  font-weight: 100 !important; }

.pointer {
  cursor: pointer; }

.bg-b-1 {
  background-image: url(../../assets/bg-4.png) !important; }

.bg_white {
  background: url(../../assets/bg-4.png) !important; }

.social_icons {
  cursor: pointer; }
  .social_icons img {
    width: 32px;
    height: 32px;
    margin-left: 10px; }

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-width: 1.6px;
  border-radius: 8px;
  cursor: pointer; }
  .btn_round {
    border-radius: 8px; }
  .btn_primary {
    padding: 10px 15px;
    border: none;
    background-color: #ffd366;
    font-size: 16px;
    line-height: 1.54;
    font-weight: 500;
    color: #242837; }
  .btn_header {
    position: relative;
    margin-left: 25px; }
    .btn_header_content {
      color: #ffd366;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2%;
      border: 2px solid #ffd366;
      border-radius: 10px;
      width: 285px;
      padding: 2px 10px; }
      .btn_header_content .icons img {
        width: 24px;
        height: 24px;
        cursor: pointer; }
    .btn_header .date {
      position: absolute;
      right: 0px;
      font-size: 0.75rem; }
    .btn_header .btn_rounded {
      background: linear-gradient(180deg, #ffd366 0%, #ffbf20 100%);
      border-radius: 40px;
      padding: 3px 8px;
      display: flex;
      align-items: center;
      color: #242837;
      cursor: pointer; }
      .btn_header .btn_rounded svg {
        margin-left: 2px; }
    .btn_header_mobile {
      border: 0px;
      width: 100px;
      padding: 0px;
      margin-right: 12px; }
  .btn_outline_primary {
    border-color: #ffd366;
    color: #ffd366; }
    .btn_outline_primary:hover {
      background: #ffd366;
      color: #242837 !important; }
  .btn_incupad {
    cursor: pointer;
    background: linear-gradient(180deg, #383a41 0%, #1b1b20 100%), #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 18px 0 #afa9df6e;
    padding: 20px 25px;
    margin-right: 40px; }
    .btn_incupad:hover {
      background: #242837; }
  .btn-primary {
    background: #ffd366; }
  @media only screen and (max-width: 575px) {
    .btn_header .date {
      font-size: 0.65rem;
      right: 20px; } }

.card-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 8px;
  width: 155px;
  height: 110px;
  box-shadow: 0px 8px 0px #383a41;
  border-radius: 10px;
  background: linear-gradient(180deg, #383a41 0%, #1b1b20 100%), #ffffff; }
  .card-1_img {
    width: 24px;
    height: 24px; }

.card_levels {
  background-color: #020214;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px 0px;
  border-radius: 10px;
  cursor: pointer; }
  .card_levels:hover {
    background-color: #212534; }
  .card_levels_staking {
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .card_levels_staking .content h2, .card_levels_staking .content h6 {
      line-height: 1; }
    .card_levels_staking .content h6 {
      margin-bottom: 2px; }
  .card_levels_content {
    display: flex;
    flex-direction: column; }
    .card_levels_content span:nth-child(1), .card_levels_content span:nth-child(3) {
      font-size: 14px;
      padding: 20px 0px 5px; }
    .card_levels_content span:nth-child(2) {
      font-size: 40px; }
    .card_levels_content span:nth-child(4) {
      font-size: 1.1rem; }
      .card_levels_content span:nth-child(4) img {
        width: 15px;
        height: 15px;
        margin-left: 10px; }

.card_pool {
  background: linear-gradient(180deg, #383a41 0%, #1b1b20 100%), #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0px; }
  .card_pool_tag {
    margin-top: 20px;
    padding: 5px;
    text-align: center;
    width: 139px;
    height: 30px;
    color: #ffd366;
    background: #212534;
    border-radius: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase; }
  .card_pool_icon {
    width: 90px;
    height: 90px;
    padding: 18px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    position: relative; }
    .card_pool_icon::before {
      animation: rotate-in-center 10s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both; }

.containers {
  width: 95%;
  margin: 0px auto; }
  @media only screen and (max-width: 575px) {
    .containers {
      width: 95%; } }

.input {
  margin-right: 10px;
  border-radius: 10px;
  background: transparent;
  color: white;
  border: 1px solid #ffd366;
  padding: 10px 15px; }

label {
  font-size: 16px;
  line-height: 1.5; }

.modal-content {
  border: 0px;
  border-radius: 10px;
  overflow: hidden;
  background: #282a33; }

.alert_modal {
  position: relative;
  background: #282a33;
  border-radius: 10px;
  border: 1px solid #ffd366 !important;
  width: 100%; }
  .alert_modal .close_btn {
    position: absolute;
    right: 1px;
    top: 2px; }
    .alert_modal .close_btn button {
      border: 0px;
      font-size: 35px;
      color: #ffd366;
      background: #282a33;
      cursor: pointer;
      font-weight: 300; }
      .alert_modal .close_btn button:hover {
        background-color: #282a33; }
  .alert_modal .content {
    color: #b0b3bd;
    padding: 30px 50px 10px; }
    .alert_modal .content p {
      font-size: 1.2rem;
      line-height: 1.8rem;
      text-align: center; }

.wallet_modal_section {
  padding: 25px; }

footer {
  background: linear-gradient(180deg, #383a41 0%, #1b1b20 100%), #ffffff;
  color: #fff; }
  footer .item-social-main {
    cursor: pointer; }

.header_background {
  background: rgba(0, 0, 0, 0.75); }

#bavbar .nav {
  align-items: center; }

.home {
  /*
        background: $background-gradient;
        &_content {
            padding-top: 20px;
            h1 {
                font-size: $h1-primary;
                line-height: $h1-primary-line-height;
                font-family: $font-poppins;
                font-weight: 700;
            }
            .extra-large{
                color: $color-primary;
                font-size: 70px;
                line-height: 80px;
                font-weight: 700;
            }
        }

        &_img {
            margin-left: 0px;
            margin-right: 0px;
        }

        &_button {
            width: 210px;
            margin-top: 80px;
            .btn{
                padding: 10px;
            }
            span{
                letter-spacing: 1.5px;
            }
        
            i{
                width: 18px;
                height: 30px;
            }
        }

        &_midsection {
            margin-top: 40px;
            h3 {
                font-size: 40px;
                line-height: 50px;
                color: $color-offwhite;
            }
           
        }

        .ecosystem_data {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1%;
        }

        .social_img {
            width: 30px;
        }

        @include respond('phone') {
            &_content { 
                padding-top: 25px;
                h1 {
                    font-size: 40px;
                    line-height: 50px;
                }
                .extra-large{
                    font-size: 50px;
                    line-height: 60px;
                }
                .you {
                    display: block;
                }
               
            }

            &_img {
                margin-top: -55px;
                margin-left: 0px;
                margin-right: 0px;
            }

            &_button {
                margin-top: 25px;
                padding: 12px 8px;
            }
        }
    }
    */ }
  .home_banner {
    padding-top: 125px !important; }

.incupad_banner {
  background: url("../../assets/upcomming-bg.png") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin-top: -100px; }

.incupad_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #fff; }
  .incupad_content h1 {
    font-size: 50px;
    line-height: 60px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    flex-direction: column; }
  .incupad_content .extra-large {
    color: #ffd366;
    font-size: 70px;
    line-height: 80px;
    font-weight: 700; }

.incupad_buttons {
  display: flex;
  align-items: center;
  margin-top: 50px; }
  .incupad_buttons a {
    color: #ffd366; }

.incupad_tabs .nav {
  background: #242837;
  height: 70px;
  justify-content: center;
  align-items: center; }
  .incupad_tabs .nav-tabs {
    border: 0px; }
  .incupad_tabs .nav-link {
    padding: 0.75rem 2rem;
    font-size: 1.1rem;
    border: 0px; }
  .incupad_tabs .nav-link.active {
    background: #242837;
    border: 0px;
    color: #ffd366; }

.incupad_tabs .about_feature {
  background: linear-gradient(180deg, #383a41 0%, #1b1b20 100%), #ffffff;
  width: 100%;
  height: auto;
  color: #fff;
  padding: 60px 0; }

.incupad_tabs .about_crosschain {
  background: linear-gradient(180deg, #383a41 0%, #1b1b20 100%), #ffffff; }

.incupad_tabs .about_partner {
  background: linear-gradient(180deg, #383a41 0%, #020214 100%), #ffffff;
  padding: 15px 0px; }

.incupad_tabs .about_feature h1, .incupad_tabs .about_crosschain h1 {
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 4rem;
  padding: 20px; }

.incupad_tabs_feature {
  background: url("../../assets/pattern-right.png"), linear-gradient(180deg, #383a41 0%, #1b1b20 100%), #ffffff;
  position: relative;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: right center; }

.incupad_tabs_levels {
  background: linear-gradient(180deg, #383a41 0%, #1b1b20 100%), #ffffff;
  padding: 70px 0px; }
  .incupad_tabs_levels h1 {
    font-size: 50px;
    font-weight: 400;
    text-align: center; }
  .incupad_tabs_levels .level_gurantee {
    margin-top: 75px; }

.incupad_search {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; }
  .incupad_search input {
    width: 100%; }

/*# sourceMappingURL=global.css.map */